// use: .menu for nav ul (ol) li // example // nav.menu ul li

.menu, .menu--v {
    width:100%;
    position:relative;
    background-color: $menu;
    color:$menu-text;
}

.menu * li {
    float:left;
}

.menu * li a, .menu--v * li a {
    display:inline-block;
    color:$menu-text;  
    padding: $padding;
    font-weight:600;
} 

.menu * li a:hover, .menu--v * li a:hover {
    background-color: $menu-text;
    color:$menu;    
    text-decoration:none;
} 

// variant v

.menu--v * li {
    float:none;
}

.menu--v * li a {
    display:block;
}

.menu--v * li:nth-of-type(odd) a {
    background-color: darken($menu, 3.0);
}