html, body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $base-font-color;
}

.ff {
    font-family: $base-font-family;    
}

.fs {
    font-size: $base-font-size;    
}

.fc {
    color: $base-font-color;    
}