// MUI TYPO

html, body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $base-font-color;
    font-weight: 300;
}

.ff {
    font-family: $base-font-family;    
}

.fs {
    font-size: $base-font-size;    
}

.fs--more {
   font-size: $base-font-size + 2; 
} 

.fs--less {
   font-size: $base-font-size - 2; 
}

.fs--large {
   font-size: $base-font-size + 4; 
} 

.fs--small {
   font-size: $base-font-size - 4; 
}

.fc {
    color: $base-font-color;    
}

h1, .h1 {
    font-size:$h1;
}

h2, .h2 {
    font-size:$h2;    
}

h3, .h3 {
    font-size:$h3;    
}

h4, .h4 {
    font-size:$h4;    
}

h5, .h5 {
    font-size:$h5;
}

h6, .h6 {
    font-size:$h6;    
}

small, .small {
    font-size:11px;
}

