// PADDINGS

@mixin paddings($namespace: "") {
    
// padding T R B L    
    
.#{$namespace}padding-double {
    padding: $padding-double;
}
    
.#{$namespace}padding-half {
    padding: $padding-half;
}

.#{$namespace}padding {
    padding: $padding;
}
    
.#{$namespace}padding-children > * {
    padding: $padding;
}
    
.#{$namespace}padding-children-half > * {
    padding: $padding-half;
}    
    
.#{$namespace}padding-clean {
    padding: 0 !important;
}
    
.#{$namespace}happyspacing * {
    padding: $padding;
}

// padding V
    
.#{$namespace}padding-v-double {
    padding-top: $padding-double;
    padding-bottom: $padding-double;    
}
    
.#{$namespace}padding-v-half {
    padding-top: $padding-half;
    padding-bottom: $padding-half;    
}

.#{$namespace}padding-v {
    padding-top: $padding;
    padding-bottom: $padding;    
}
    
.#{$namespace}padding-v-clean {
    padding-top: 0 !important;
    padding-bottom: 0 !important;    
}  
    
// padding H
    
.#{$namespace}padding-h-double {
    padding-left: $padding-double;
    padding-right: $padding-double;    
}
    
.#{$namespace}padding-h-half {
    padding-left: $padding-half;
    padding-right: $padding-half;    
}

.#{$namespace}padding-h {
    padding-left: $padding;
    padding-right: $padding;    
}
    
.#{$namespace}padding-h-clean {
    padding-left: 0 !important;
    padding-right: 0 !important;    
}     
   
// padding L
    
.#{$namespace}padding-left-double {
    padding-left: $padding-double;    
}
    
.#{$namespace}padding-left-half {
    padding-left: $padding-half;   
}

.#{$namespace}padding-left {
    padding-left: $padding;    
}
    
.#{$namespace}padding-left-clean {
    padding-left: 0 !important;    
}    
 
// padding R
    
.#{$namespace}padding-right-double {
    padding-right: $padding-double;    
}
    
.#{$namespace}padding-right-half {
    padding-right: $padding-half;   
}

.#{$namespace}padding-right {
    padding-right: $padding;    
}
    
.#{$namespace}padding-right-clean {
    padding-right: 0 !important;    
}     
    
// padding T
    
.#{$namespace}padding-top-double {
    padding-top: $padding-double;    
}
    
.#{$namespace}padding-top-half {
    padding-top: $padding-half;   
}

.#{$namespace}padding-top {
    padding-top: $padding;    
}
    
.#{$namespace}padding-top-clean {
    padding-top: 0 !important;    
} 
    
// padding B
    
.#{$namespace}padding-bottom-double {
    padding-bottom: $padding-double;    
}
    
.#{$namespace}padding-bottom-half {
    padding-bottom: $padding-half;   
}

.#{$namespace}padding-bottom {
    padding-bottom: $padding;    
}
    
.#{$namespace}padding-bottom-clean {
    padding-bottom: 0 !important;    
}     
    
}

@include paddings();


@include media-query(fullscreen){
    @include paddings("fullscreen-");
}

@include media-query(laptop){
    @include paddings("laptop-");
}

@include media-query(tablet){
    @include paddings("tablet-");
}

@include media-query(handheld){
    @include paddings("handheld-");
}

@include media-query(to-laptop){
    @include paddings("to-laptop-");
}

@include media-query(to-tablet){
    @include paddings("to-tablet-");
}