// BACKGROUND COLORS

.primary {
    background-color:$primary;
}

.secondary {
    background-color:$secondary;
}

.darker-grey {
    background-color:$darker-grey;
}

.dark-grey {
    background-color:$dark-grey;
}

.medium-grey {
    background-color:$medium-grey;
}

.grey {
    background-color:$grey;
}

.light-grey {
    background-color:$light-grey;
}

.lighter-grey {
    background-color:$lighter-grey;
}

.success {
    background-color:$success;  
    color: white;
}

.danger {
    background-color:$danger;  
    color: white;    
}

.warning {
    background-color:$warning;   
    color: white;    
}

.info {
    background-color:$info;   
    color: white;    
}

.disabled {
    background-color:$disabled;   
    color: $medium-grey;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
    color: white;
}

// TEXT COLORS

.primary-text {
    color:$primary;
}

.secondary-text {
    color:$secondary;
}
.darker-grey-text {
    color:$darker-grey;
}

.dark-grey-text {
    color:$dark-grey;
}

.medium-grey-text {
    color:$medium-grey;
}

.grey-text {
    color:$grey;
}

.light-grey-text {
    color:$light-grey;
}

.lighter-grey-text {
    color:$lighter-grey;
}

.success-text {
    color:$success;      
}

.danger-text {
    color:$danger;         
}

.warning-text {
    color:$warning;          
}

.info-text {
    color:$info;          
}

.disabled-text {
    color:$disabled;      
}

.white-text {
    color: white;
}
