// LISTS

.bullet-list, .square-list {
    & li:before {
        content: '';
        display: inline-block;
        width:5px;
        height:5px;
        background:$medium-grey;
        vertical-align:middle;
        margin-right:8px;
    }
}

.bullet-list {
    & li:before {
        @include vendor(border-radius,100%);
    }
}

.striped-list {
    & li {
        background-color:$lighter-grey;
    }
    & li:nth-of-type(even) {
        background-color:darken($lighter-grey, 5%);
    }
}  

.ordered-list, .superordered-list {
    list-style-type: none;       
    counter-reset: li-counter;
}

.ordered-list, .superordered-list {
    & > li:before {
        @include vendor(border-radius, 100%);
        width: 16px;
        height: 16px;     
        font-size: 11px;
        line-height: 16px;
        text-align: center; 
        background-color: $primary;
        color:white;
        margin-right:8px;
        content: counter(li-counter);
        counter-increment: li-counter;
        display:inline-block;
        vertical-align:middle;
    }
}

.superordered-list {
    & > li:before {
        width: 28px;
        height: 28px;     
        font-size: 16px;
        font-weight:bold;
        line-height: 28px;
        margin-right:12px;
    }
}

.list {
    & li {
        border-bottom:1px solid $light-grey;
    }
    & li:last-child {
        border-bottom: 0;
    }
}