// vars for breakpoints - as of mui.resize.js

$handheld:    500px;
$tablet:      768px;
$laptop:     1280px;
$fullscreen: 1800px;

// vars for widths

$whole:  100%; // .whole
$banner: 300px; // .banner
$leader: 928px; // .leader

// vars for margin

$margin:         10px; // .margin
$margin-half:    $margin / 2; // .margin-half
$margin-double:  $margin * 2; // .margin-double

// vars for padding

$padding:        10px; // .padding
$padding-half:   $padding / 2; // .padding-half
$padding-double: $padding * 2; // .padding-double

// fonts

$base-font-family:     'Helvetica', 'Helvetica Neue', 'Lucida Sans', Arial, Sans-serif;  // .ff
$base-font-size:  16px;  // .fs
$base-font-color: #333333; // .fc

// colors

$body:   #ffffff;
$header: #666666;  // background for .header 
$button: #555555;  // background for basic buttons .button
$menu:   #555555;

$body-color:   $base-font-color;
$header-color: #fafafa; // color for header text .header
$button-color: #ffffff; // color for basic buttons .button
$menu-color:   #ffffff; // color for menu links .menu .mui-menu