// vars for breakpoints - as of mui.resize.js

$handheld:    500px;
$tablet:      768px;
$laptop:     1280px;
$fullscreen: 1800px;

// vars for widths

$whole:  100%;
$banner: 300px;
$leader: 928px;

// vars for margin, base margin will have double and half size

$margin: 10px;

// vars for padding, base padding will have double and half size

$padding: 10px;

