// MARGINS

@mixin margins($namespace: "") {
    
// margin T R B L    
    
.#{$namespace}margin-double {
    margin: $margin-double;
}
    
.#{$namespace}margin-half {
    margin: $margin-half;
}

.#{$namespace}margin {
    margin: $margin;
}
    
.#{$namespace}margin-clean {
    margin: 0 !important;
}

// margin V
    
.#{$namespace}margin-v-double {
    margin-top: $margin-double;
    margin-bottom: $margin-double;    
}
    
.#{$namespace}margin-v-half {
    margin-top: $margin-half;
    margin-bottom: $margin-half;    
}

.#{$namespace}margin-v {
    margin-top: $margin;
    margin-bottom: $margin;    
}
    
.#{$namespace}margin-v-clean {
    margin-top: 0 !important;
    margin-bottom: 0 !important;    
}  
    
// margin H
    
.#{$namespace}margin-h-double {
    margin-left: $margin-double;
    margin-right: $margin-double;    
}
    
.#{$namespace}margin-h-half {
    margin-left: $margin-half;
    margin-right: $margin-half;    
}

.#{$namespace}margin-h {
    margin-left: $margin;
    margin-right: $margin;    
}
    
.#{$namespace}margin-h-clean {
    margin-left: 0 !important;
    margin-right: 0 !important;    
}     
   
// margin L
    
.#{$namespace}margin-left-double {
    margin-left: $margin-double;    
}
    
.#{$namespace}margin-left-half {
    margin-left: $margin-half;   
}

.#{$namespace}margin-left {
    margin-left: $margin;    
}
    
.#{$namespace}margin-left-clean {
    margin-left: 0 !important;    
}    
 
// margin R
    
.#{$namespace}margin-right-double {
    margin-right: $margin-double;    
}
    
.#{$namespace}margin-right-half {
    margin-right: $margin-half;   
}

.#{$namespace}margin-right {
    margin-right: $margin;    
}
    
.#{$namespace}margin-right-clean {
    margin-right: 0 !important;    
}     
    
// margin T
    
.#{$namespace}margin-top-double {
    margin-top: $margin-double;    
}
    
.#{$namespace}margin-top-half {
    margin-top: $margin-half;   
}

.#{$namespace}margin-top {
    margin-top: $margin;    
}
    
.#{$namespace}margin-top-clean {
    margin-top: 0 !important;    
} 
    
// margin B
    
.#{$namespace}margin-bottom-double {
    margin-bottom: $margin-double;    
}
    
.#{$namespace}margin-bottom-half {
    margin-bottom: $margin-half;   
}

.#{$namespace}margin-bottom {
    margin-bottom: $margin;    
}
    
.#{$namespace}margin-bottom-clean {
    margin-bottom: 0 !important;    
}     
    
}

@include margins();


@include media-query(fullscreen){
    @include margins("fullscreen-");
}

@include media-query(laptop){
    @include margins("laptop-");
}

@include media-query(tablet){
    @include margins("tablet-");
}

@include media-query(handheld){
    @include margins("handheld-");
}

@include media-query(to-laptop){
    @include margins("to-laptop-");
}

@include media-query(to-tablet){
    @include margins("to-tablet-");
}