// BUTTONS

.button {
    @extend .radius;
    background-color: $button;
    color: $button-text !important;
    border: 1px solid $button;    
    text-decoration:none;
    display:inline-block;
    padding-top: $padding-half;
    padding-bottom: $padding-half;
    padding-right: $padding;
    padding-left: $padding;
    font-family: $button-font-family !important;
    font-weight: 400;
    font-size:16px;
    cursor:pointer;
    @include vendor(transition, all 100ms ease-in-out 0s);
     &:hover {
        background-color: $button-text;  
        color:$button !important;
        text-decoration:none !important;
    }     
}

.button-full {
    @extend .button;
    width:100%;
    text-align:center;
}

.button-big {
    @extend .button;
    padding-top: $padding;
    padding-bottom: $padding;
    padding-right: $padding-double;
    padding-left: $padding-double;
    font-size:1.3em;
}

.button-small {
    @extend .button;
    font-size:0.8em;
}

.button--link {
    border: 1px solid transparent;
    background-color: transparent;
    color: $button !important;
    &:hover {
        background-color: $light-grey;
        border: 1px solid $light-grey;
    }
}

.button--link--bright {
    border: 1px solid transparent;
    background-color: transparent;
    color: $button-text !important;
    &:hover {
        border: 1px solid $button-text;
    }
}

.button--ok {
    background-color:$good;
    border: 1px solid $good;
    color: $button-text;
     &:hover {
        background-color: $button-text;  
        color:$good !important;
        text-decoration:none !important;     
    }    
}

.button--alert {
    background-color:$bad;
    border: 1px solid $bad;
    color: $button-text;
     &:hover {
        background-color: $button-text;  
        color:$bad !important;
        text-decoration:none !important;     
    }    
}

.button--obs {
    background-color:$obs;
    border: 1px solid $obs;
    color: $button-text;
     &:hover {
        background-color: $button-text;  
        color:$obs !important;
        text-decoration:none !important;     
    }    
}

.button--promo {
    background-color:$promo;
    border: 1px solid $promo;
    color: $button-text;
     &:hover {
        background-color: $button-text;  
        color:$promo !important;
        text-decoration:none !important;     
    }    
}

