// BUTTONS

.button {
    @extend .radius;
    background-color: $button;
    color: $button-text !important;
    border: 1px solid $button;    
    text-decoration:none;
    display:inline-block;
    padding-top: $padding-half;
    padding-bottom: $padding-half;
    padding-right: $padding-double;
    padding-left: $padding-double;
    font-family: $button-font-family !important;
    font-weight: 400;
    font-size:14px;
    cursor:pointer;
    @include vendor(transition, all 160ms ease-in-out 0s);
     &:hover {
        background-color: $button-text;  
        color:$button !important;
        text-decoration:none !important;
    }     
}

.button-full {
    @extend .button;
    width:100%;
    text-align:center;
}

.button-big {
    @extend .button;
    padding-top: $padding;
    padding-bottom: $padding;
    padding-right: $padding-double;
    padding-left: $padding-double;
    font-size:1.3em;
}

.button-small {
    @extend .button;
    font-size:12px;
}

.button--link {
    border: 1px solid transparent;
    background-color: transparent;
    color: $button !important;
    &:hover {
        background-color: $light-grey;
        border: 1px solid $light-grey;
    }
}

.button--link--bright {
    border: 1px solid transparent;
    background-color: transparent;
    color: $button-text !important;
    &:hover {
        border: 1px solid $button-text;
    }
}

.button--success {
    background-color:$success;
    border: 1px solid $success;
    color: $button-text;
     &:hover {
        background-color: $button-text;  
        color:$success !important;
        text-decoration:none !important;     
    }    
}

.button--danger {
    background-color:$danger;
    border: 1px solid $danger;
    color: $button-text;
     &:hover {
        background-color: $button-text;  
        color:$danger !important;
        text-decoration:none !important;     
    }    
}

.button--warning {
    background-color:$warning;
    border: 1px solid $warning;
    color: $button-text;
     &:hover {
        background-color: $button-text;  
        color:$warning !important;
        text-decoration:none !important;     
    }    
}

.button--info {
    background-color:$info;
    border: 1px solid $info;
    color: $button-text;
     &:hover {
        background-color: $button-text;  
        color:$info !important;
        text-decoration:none !important;     
    }    
}

.button--disabled {
    background-color:$disabled;
    border: 1px solid $disabled;
    color: $medium-grey !important;
     &:hover {
        background-color: $medium-grey;  
        color:$disabled !important;
        text-decoration:none !important;     
    }    
}

.button--special {
    background-color:$special;
    border: 1px solid $special;
    color: $dark-grey !important;
     &:hover {
        background-color: $dark-grey; 
        border-color: $dark-grey;
        color:$special !important;
        text-decoration:none !important;     
    }    
}

.button--circle {
    @extend .circle;
    padding:0;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
}

.button--circle > * {
    line-height:30px !important;
}

.button--circle--big {
    @extend .circle;
    padding:0;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:18px;
}

.button--circle--big > * {
    line-height:50px !important;
    font-size:18px;    
}

.button--circle--large {
    @extend .circle;
    padding:0;
    width:90px;
    height:90px;
    line-height:90px;
    text-align:center;
    font-size: 32px;
}

.button--circle--large > * {
    line-height:90px !important;
    font-size:32px;    
}