// @include vendor(border-radius, 2px)

@mixin vendor($property, $value...){
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
            #{$property}:$value;
}

// @include box-sizing(border-box)

@mixin box-sizing($borderbox) {
  -webkit-box-sizing: $borderbox;
     -moz-box-sizing: $borderbox;
      -ms-box-sizing: $borderbox;
          box-sizing: $borderbox;
}

// @include media-query(palm){ [styles here] }

$fullscreen-start: $laptop + 1px;
$laptop-start:     $tablet + 1px;
$tablet-start:     $handheld + 1px;


@mixin media-query($media-query) {
    @if $media-query == fullscreen {
        @media only screen and (min-width:$fullscreen-start) { @content; }
    }

    @if $media-query == laptop {
        @media only screen and (min-width:$laptop-start) and (max-width:$laptop) { @content; }
    }
    
    @if $media-query == tablet {
        @media only screen and (min-width:$tablet-start) and (max-width:$tablet) { @content; }
    }
    
    @if $media-query == handheld {
        @media only screen and (max-width:$handheld) { @content; }
    }  
    
    
    @if $media-query == to-laptop {
        @media only screen and (max-width:$laptop) { @content; }
    }
    
    @if $media-query == to-tablet {
        @media only screen and (max-width:$tablet) { @content; }
    }
    
}

@mixin handheld { @include media-query(handheld) { @content }; }
@mixin tablet { @include media-query(tablet) { @content }; }
@mixin to-tablet { @include media-query(to-tablet) { @content }; }
@mixin to-laptop { @include media-query(to-laptop) { @content }; }
@mixin laptop { @include media-query(laptop) { @content }; }